<%- include('../includes/head') %>

<h1>Details</h1>

<a href="/">&larr; Go back</a>

<% if (match) { %>

    <h2><%= match.team1 %> - <%= match.team2 %></h2>
    <p><%= match.score1 %> - <%= match.score2 %></p>

<% } %>

<% if (!match) { %>
    <h2>This is not a valid match. Please go back and select a valid one</h2>
<% } %>

<%- include('../includes/end') %>
