<%- include('../includes/head') %>

<h1>Matches</h1>

<a href="/admin">Go to admin</a>


<section>
<% if (matches !== undefined & matches !== 'No matches') { %>
	<% for(var i = 0; i < matches.length; i++) { %>
		<article>
			<h2><%= matches[i].team1 %> - <%= matches[i].team2 %></h2>
			<p><%= matches[i].score1 %> - <%= matches[i].score2 %></p>
			<button>
				<a href="/details">&rarr;</a>
			</button>
		</article>	
	<% } %>
<% } else{ %>
	<p>There are no matches</p>
<% } %>
</section>

<%- include('../includes/end') %>
