<%- include('../includes/head') %>

<h2>Matches</h2>

<a href="/admin">Go to admin</a>


<section>
<% if (matches !== undefined & matches !== 'No matches') { %>

	<% for(var i = 0; i < matches.length; i++) { %>

        <a href="/details/<%= matches[i].id %>" class="clickable-card">
            <article>
                <h3><%= matches[i].team1 %> - <%= matches[i].team2 %></h3>

                <% if (matches[i].score1 && matches[i].score2) { %>
                    <p><%= matches[i].score1 %> - <%= matches[i].score2 %></p>
                <% } else { %>
                    <p>No score available</p>
                <% } %>

                <img src="/img/arrow-right.svg" alt="arrow to right">
            </article>
         </a>

	<% } %>

<% } else{ %>
	<p>There are no matches</p>
<% } %>

</section>

<%- include('../includes/end') %>
