<%- include('../includes/head') %>

<h2>Matches</h2>

<section>
<% if (matches !== undefined & matches !== 'No matches') { %>
    <ol>

	<% for(var i = 0; i < matches.length; i++) { %>
        <li>
            <article>
                <h3><%= matches[i].team1 %> - <%= matches[i].team2 %></h3>

                <% if (matches[i].score1 && matches[i].score2) { %>
                    <p><%= matches[i].score1 %> - <%= matches[i].score2 %></p>
                <% } else { %>
                    <p>No score available</p>
                <% } %>


                <a href="/details/<%= matches[i].id %>">
                    <button>
                        <span>
                            Details
                        </span>
                    </button>
                </a>
            </article>
        </li>

        <hr class="css-disabled" />

	<% } %>
</ol>

<% } else{ %>
	<p>There are no matches</p>
<% } %>

</section>

<%- include('../includes/end') %>
